.main {
    display: flex;
    padding: 5px;
    margin: 5px;
    position: relative;
    box-shadow: 2px 2px #0071dc;
}

.icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.img_container{

}


.details_container {
    padding: 5px;
    margin: auto;
    text-align: center;
}

.add2cart_btn {
    background-color: #007200;
    padding: 3px;
    margin: 3px;
    color: white;
    border-radius: 25px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px #0071dc;
}

.main:hover{
    box-shadow: 2px 2px #4cadfe;
}