.navigator{
display: flex;
justify-content: space-around;
background-color: #57A773;
padding:5px;
}

.navBarLink{
    color:white;
    text-decoration: none;
    padding: 5px;

}
.navBarLink:hover{
    background-color: #1C3525;
    border-radius: 10%;

}


.dropDownBtn{
    padding: 5px;
    position: relative;
    display: inline-block;
}

.dropContent{
    display:none;
    border: solid;
    background-color: #57A773;
    position: absolute;
    text-align: center;
    padding: 5px;
    margin:auto;
    z-index: 5;

}

.dropDownBtn:hover .dropContent{
display: block;
}