.navigator{
display: flex;
justify-content: space-around;
background-color: #57A773;
padding:5px;
}

.navBarLink{
    color:white;
    text-decoration: none;
    padding: 5px;
    
}
.navBarLink:hover{
    background-color: #1C3525;
    border-radius: 10%;

}